html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font-family: 'Anton', sans-serif;
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

div {
    padding: 0;
    border: 0;
    margin: 0;
}

.render-canvas {
    width: 100%;
    height: 100%;
}

.level-back {
    z-index: 50;
}

.level-front {
    z-index: 150;
}

.full-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #350907;
    color: white;
    width: 100%;
    height: 100%;
}

.game-over {
    font-size: 50px;
}

.new-game {
    font-size: 35px;
    cursor: pointer;
}

.game-title {
    font-size: 60px;
}

.handgun-positioner {
    position: fixed;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.handgun-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.handgun {
    height: 50vh;
}

.handgun-hidden {
    display: none;
}

.timer-positioner {
    position: fixed;
    align-items: center;
    bottom: 30;
    left: 20;
    width: 100%;
    pointer-events: none;
}

.timer-container {
    display: flex;
    width: 27%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.timer {
    font-size: 30px;
    color: white;
}

.infobar-positioner {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.infobar {
    width: 100vw;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
